@import url(variables.css);
*{
    margin: 0;
    padding: 0;
}
body{
    background: var(--color-background);
    font-family: var(--font-primary);
}
.Principal{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

    grid-template-areas: 
    "index img1 img2 img3 img4"
    "index img5 img6 img7 img8"
    "index img9 img10 img11 img12"
    "index img13 img14 img15 img16"
    ;
}


.Principal > div img{
    width: 20vh;
    margin-top: 15px;
}

.Principal > div{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.item_1{
    grid-area: index;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px;
}

.item_1 > *{
    margin: 15px 0
}


.firsth1, .sech1, .thirdh1{
    font-size: 5rem;
}

.firsth1{
    color: var(--color-primary);
}
.sech1{
    color: var(--color-secundary);
}
.thirdh1{
    color: var(--color-ternary);
}

.item_1 p{
    color: #ffff;
    font-size: 2rem;
}
.item_1 button{
    font-size: 2rem;
    border: 0;
    background: #ffff;
    border-radius: 50px;
    height: 80px;
    width: 230px;
}

.item_2{
    grid-area: img1;
}

.item_3{
    grid-area: img2;
}

.item_4{
    grid-area: img3;
}

.item_5{
    grid-area: img4;
}

.item_6{
    grid-area: img5;
}

.item_7{
    grid-area: img6;
}

.item_8{
    grid-area: img7;
}

.item_9{
    grid-area: img8;
}

.item_10{
    grid-area: img9;
}

.item_11{
    grid-area: img10;
}

.item_12{
    grid-area: img11;
}

.item_13{
    grid-area: img12;
}

.item_14{
    grid-area: img13;
}

.item_15{
    grid-area: img14;
}

.item_16{
    grid-area: img15;
}

.item_17{
    grid-area: img16;
}

@media (width < 700px){
    .Principal{
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        grid-template-rows: repeat(9, 1fr);

        grid-template-areas: 
        "index index "
        "img1 img2"
        "img3 img4"
        "img5 img6"
        "img7 img8"
        "img9 img10"
        "img11 img12"
        "img13 img14"
        "img15 img16"
        ;
    }

    .Principal > div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .item_1{
        align-items: center;
        text-align: center;
        margin: 0px;
    }
}